name: ci

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      PYTHONDONTWRITEBYTECODE: "1"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install
        run: |
          python -m venv .venv
          . .venv/bin/activate
          python -m pip install -U pip
          python -m pip install -e ".[dev]"

      - name: Ruff
        run: |
          . .venv/bin/activate
          python -m ruff check src scripts tests plugins

      - name: Mypy
        run: |
          . .venv/bin/activate
          python -m mypy src scripts plugins

      - name: Pytest
        run: |
          . .venv/bin/activate
          pytest

      - name: Detect changes in scripts/
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            scripts:
              - 'scripts/**'

      - name: Badguys
        if: steps.changes.outputs.scripts == 'true'
        run: |
          . .venv/bin/activate
          python3 badguys/badguys.py \
           -v \
           --exclude=test_064_a_allows_undeclared \
           --exclude=test_900_commit_push_timestamp

